/* Passport Full Stack Programming Challenge */
/* jarrett tolman */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* from https://codepen.io/jaminroe/pen/EJvcw */

ul, li { list-style: none; margin: 0; padding: 0; }
ul { padding-left: 1em; }
li { padding-left: 1em;
  border: 1px dotted black;
  border-width: 0 0 1px 1px; 
}
li.container { border-bottom: 0px; }
li.empty { font-style: italic;
  color: silver;
  border-color: silver;
}
li p { margin: 0;
  background: white;
  position: relative;
  top: 0.5em; 
}
li ul { 
  border-top: 1px dotted black; 
  margin-left: -1em;     
  padding-left: 2em; 
}
ul li:last-child ul {
  border-left: 1px solid white;
  margin-left: -17px;
}

/* end https://codepen.io/jaminroe/pen/EJvcw  */

.jumbotron {
    background: transparent;
}

.header {
  text-align: center;
}

#root {
    margin-top: 20px;
    margin-bottom: 0;
}

.factory-form {
  padding: 10px;
}

.factory-name {
  font-weight: bold;
}
