<!doctype html>
<html lang="en-us" ng-app="nodeFactories">
    <head>
        <title>Live Updating Tree - Jarrett Tolman</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
    </head>
    <body ng-controller="mainController" id="mainController">
        <!-- main container -->
        <div class="container">
            <div class="jumbotron">
                <h1>Live Updating Tree</h1>
            </div>
        
            <!-- add new factory row -->
            <div class="row">

                <!-- create new factory button -->
                <form>
                    <button type="button" class="btn btn-primary" id="factoryBtn" ng-click="addFactory()">Create New Factory</button>
                </form>

                <!-- new factory form modal -->
                <div class="modal fade" id="newFactoryModal" role="dialog" ng-model="createModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="form-horizontal factory-form" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" placeholder="Factory Name" ng-model="formData.name" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="lBound">Lower Bound</label>
                                    <div class="col-sm-2">
                                        <input type="number" min="1" max="998" class="form-control" id="lBound" placeholder="1" ng-model="formData.lBound" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="uBound">Upper Bound</label>
                                    <div class="col-sm-2">
                                        <input type="number" min="2" max="999" class="form-control" id="uBound" placeholder="999" ng-model="formData.uBound" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="children">Number of Children (max 15)</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="children" placeholder="15" ng-model="formData.children" required>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success" ng-click="createFactory()" id="new">Create Factory</button>
                            </form>
                        </div>
                    </div>
                </div> <!-- end new factory form modal -->
            </div> <!-- end add new factory row -->

            <!-- edit factory -->
            <div class="row">
                <div class="modal fade" id="editFactoryModal" role="dialog" ng-model="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="form-horizontal factory-form" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit-name" placeholder="Factory Name" ng-model="editFormData.name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="lBound">Lower Bound</label>
                                    <div class="col-sm-2">
                                        <input type="number" min="1" max="998" class="form-control" id="edit-lBound" placeholder="1" ng-model="editFormData.lBound">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="uBound">Upper Bound</label>
                                    <div class="col-sm-2">
                                        <input type="number" min="2" max="999" class="form-control" id="edit-uBound" placeholder="999" ng-model="editFormData.uBound">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="children">Number of Children (max 15)</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="edit-children" placeholder="15" ng-model="editFormData.children">
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger" ng-click="deleteFactory()" id="delete">Delete Factory</button>
                                <button type="submit" class="btn btn-success" ng-click="updateFactory($event)" id="update">Update Factory</button>

                            </form>
                        </div>
                    </div>

                </div>  <!-- end newFactoryModal -->
            </div> <!-- end edit factory -->

            <!-- display factories tree -->
            <div class="row">
                <div class="well well-sm" id="root">Root</div>
                <ul ng-repeat="factory in factoryData">
                    <li>
                        <p ng-click="editFactory($event)" 
                            class="factory-name" 
                            id="{{ factory.id }}" 
                            data-n="{{ factory.name }}"
                            data-l="{{ factory.lbound }}" 
                            data-u="{{ factory.ubound }}" 
                            data-c="{{ factory.children }}">
                            {{ factory.name }} ({{ factory.lbound }} - {{ factory.ubound }})
                        </p></li>
                    <ul>
                        <li ng-repeat="child in factory.children"><p>{{ child }}</p></li>
                    </ul>
                </ul>
            </div> <!-- end factories tree -->

        </div> <!-- end main container -->

        <!-- required scripts -->
        <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/app.js"></script>
        <script>
            var socket = io();
            socket.on('news', function(msg) {
                angular.element(document.getElementById('mainController')).scope().getFactories();
            });
            document.getElementById('update').onclick = function(e) {
                socket.emit('news', {factory: "updated factory"});
            };
            document.getElementById('new').onclick = function(e) {
                socket.emit('news', {factory: "new factory"});
            };
            document.getElementById('delete').onclick = function(e) {
                socket.emit('news', {factory: "deleted factory"});
            };
        </script>
    </body>
</html>
